node-red.flow
[{"id":"7da29592.13ad4c","type":"ibmiot in","z":"ef4eb246.a919","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb01","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":80,"wires":[["34227325.66d414"]]},{"id":"47d9d047.842058","type":"ibmiot in","z":"ef4eb246.a919","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb01","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":140,"wires":[["73ec443a.4f008c"]]},{"id":"73ec443a.4f008c","type":"debug","z":"ef4eb246.a919","name":"Pings","active":true,"console":false,"complete":"payload","x":530,"y":140,"wires":[]},{"id":"c66db0d.08ec6d","type":"debug","z":"ef4eb246.a919","name":"Touch","active":true,"console":false,"complete":"payload","x":730,"y":80,"wires":[]},{"id":"34227325.66d414","type":"switch","z":"ef4eb246.a919","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":530,"y":80,"wires":[["c66db0d.08ec6d"],[]]},{"id":"9e57b091.148cc","type":"ibmiot in","z":"ef4eb246.a919","authentication":"boundService","apiKey":"95bf53c0.7c046","inputType":"evt","deviceId":"playbulb01","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR1","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":190,"y":260,"wires":[["d7bf0a19.4d5868"]]},{"id":"d7bf0a19.4d5868","type":"switch","z":"ef4eb246.a919","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"broken","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":370,"y":260,"wires":[["aaac3441.78ae08","137704b.71eb47b","e61a7490.eb1b7"],[]]},{"id":"137704b.71eb47b","type":"function","z":"ef4eb246.a919","name":"Set IR1","func":"isset =  global.get(\"ir1set\")\nif(msg.payload.value == 1 )\nif(isset)\n{\nnode.warn(\"Already set\")    \n\n}else{\n\n\n\n    global.set(\"ir1time\",msg.payload.ts)\n    global.set(\"ir1set\",true)\n    node.warn(\" setting time\")    \n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[[]]},{"id":"1c9be50e.b89d4b","type":"ibmiot in","z":"ef4eb246.a919","authentication":"boundService","apiKey":"95bf53c0.7c046","inputType":"evt","deviceId":"playbulb01","applicationId":"","deviceType":"+","eventType":"IR2","commandType":"","format":"json","name":"IR2","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":190,"y":420,"wires":[["c03760ec.fa0288"]]},{"id":"c03760ec.fa0288","type":"switch","z":"ef4eb246.a919","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"broken","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":390,"y":420,"wires":[["e8696fa4.5bdda8","1ded4c9d.0897b3","5a8b457f.34b934"],[]]},{"id":"1ded4c9d.0897b3","type":"function","z":"ef4eb246.a919","name":"Set IR2 - Calulate SPEED - Adjust","func":"isset =  global.get(\"ir1set\")\nkph=0\nkmh=0\nif(msg.payload.value == 1 )\nif(isset)\n{\n  //  node.warn(\"IR2 set\") \n global.set(\"ir2time\",msg.payload.ts)\n global.set(\"ir1set\",false)\n \n starttime = global.get(\"ir1time\")\n endtime = global.get(\"ir2time\")\n  mytime=endtime-starttime;\n node.warn(\"Time diff in millisec = \"+mytime)\n  \n   \n // Speed calc\n //distnce\nvar ms = 0\n  \nvar distcm = 10  //DEFINE Ditance \nnode.warn(\"Distance in CM = \"+distcm)\n\tms = ((distcm/100) / (mytime/1000))\n  \tkph = (ms * 3.6)  \n  \t\n  \tkmh = (distcm/(mytime/1000))  * 0.036\n\n   \tnode.warn(\"SPEED in kmh = \"+kmh.toFixed(4)) \n // \tnode.warn(\"SPEED in kph = \"+kph.toFixed(4)) \n\tnode.warn(\"SPEED in ms = \"+ms.toFixed(4))\n\n\n}else{\n    node.warn(\"IR1 not set\") \n}\nmsg.payload.speedms = ms //ms.toFixed(4)\nmsg.payload.speedkmh = kph.toFixed(4)\nmsg.payload.speedkmh2 = kmh.toFixed(4)\nmsg.payload.distcm = distcm;\nmsg.payload.distm = (distcm/100);\nmsg.payload.timemm = mytime\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["5b51082f.77309","23775060.348fc8","411d4120.a5da18","bdccbd42.da9fc","ea0e0d26.fc3b9","4ff32c84.471efc","62cfb683.876dc8"]]},{"id":"aaac3441.78ae08","type":"debug","z":"ef4eb246.a919","name":"IR1-Broken","active":true,"console":false,"complete":"payload","x":570,"y":240,"wires":[]},{"id":"e8696fa4.5bdda8","type":"debug","z":"ef4eb246.a919","name":"IR2-Broken","active":true,"console":false,"complete":"payload","x":570,"y":400,"wires":[]},{"id":"5b51082f.77309","type":"debug","z":"ef4eb246.a919","name":"Speed","active":true,"console":false,"complete":"true","x":550,"y":480,"wires":[]},{"id":"854f6a4a.659be8","type":"ui_chart","z":"ef4eb246.a919","name":"","group":"47830a25.06dec4","order":1,"width":0,"height":0,"label":"Speed History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":580,"y":860,"wires":[[],[]]},{"id":"23775060.348fc8","type":"ui_text","z":"ef4eb246.a919","group":"92331a4e.e614e8","order":1,"width":0,"height":0,"name":"","label":"SpeedKmH","format":"{{msg.payload.speedkmh}}","layout":"row-spread","x":570,"y":580,"wires":[]},{"id":"411d4120.a5da18","type":"ui_text","z":"ef4eb246.a919","group":"92331a4e.e614e8","order":2,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.timemm}}","layout":"row-spread","x":550,"y":700,"wires":[]},{"id":"6c4d75e3.011b1c","type":"ibmiot out","z":"ef4eb246.a919","authentication":"boundService","apiKey":"5cc39637.50c288","outputType":"evt","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"dashboard","format":"json","data":"playload","qos":0,"name":"toMarkusDashBoard","service":"registered","x":800,"y":440,"wires":[]},{"id":"bdccbd42.da9fc","type":"function","z":"ef4eb246.a919","name":"","func":"msg.payload.event = \"dashboard\"\nmsg.payload.deviceId =  msg.deviceId\ndelete msg.eventType\ndelete msg.topic\ndelete msg.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["6c4d75e3.011b1c"]]},{"id":"ea0e0d26.fc3b9","type":"ui_text","z":"ef4eb246.a919","group":"47830a25.06dec4","order":4,"width":0,"height":0,"name":"","label":"TS","format":"{{msg.payload.ts}}","layout":"row-spread","x":550,"y":740,"wires":[]},{"id":"4ff32c84.471efc","type":"function","z":"ef4eb246.a919","name":"Mapping","func":"msg.payload = msg.payload.speedkmh\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["f2ba9048.debdf8","126d0649.eb4952","135ada09.98664e","854f6a4a.659be8"]]},{"id":"f2ba9048.debdf8","type":"ui_gauge","z":"ef4eb246.a919","name":"","group":"92331a4e.e614e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Speed Km/H","label":"units","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":540,"wires":[]},{"id":"62cfb683.876dc8","type":"ui_text","z":"ef4eb246.a919","group":"92331a4e.e614e8","order":4,"width":0,"height":0,"name":"","label":"Speedms","format":"{{msg.payload.speedms}}","layout":"row-spread","x":560,"y":620,"wires":[]},{"id":"126d0649.eb4952","type":"ui_text","z":"ef4eb246.a919","group":"47830a25.06dec4","order":2,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload.distcm}}","layout":"row-spread","x":560,"y":660,"wires":[]},{"id":"135ada09.98664e","type":"ui_text","z":"ef4eb246.a919","group":"47830a25.06dec4","order":3,"width":0,"height":0,"name":"","label":"Device","format":"{{msg.deviceId}}","layout":"row-spread","x":550,"y":800,"wires":[]},{"id":"46197682.e207f","type":"inject","z":"ef4eb246.a919","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":1018,"wires":[["fbd62ccb.19ad7"]]},{"id":"fbd62ccb.19ad7","type":"function","z":"ef4eb246.a919","name":"setCandleMode=Jump=02","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":2,\n\"speed1\":9,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1020,"wires":[[]]},{"id":"5a8b457f.34b934","type":"function","z":"ef4eb246.a919","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["210a40aa.82dc1"]]},{"id":"e61a7490.eb1b7","type":"function","z":"ef4eb246.a919","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["210a40aa.82dc1"]]},{"id":"cc3ab433.cd01d","type":"inject","z":"ef4eb246.a919","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":350,"y":220,"wires":[["e61a7490.eb1b7"]]},{"id":"210a40aa.82dc1","type":"ibmiot out","z":"ef4eb246.a919","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb01","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":770,"y":280,"wires":[]},{"id":"95bf53c0.7c046","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"47830a25.06dec4","type":"ui_group","name":"Group 2","tab":"f1ba069a.79ae08","order":2,"disp":true,"width":6},{"id":"92331a4e.e614e8","type":"ui_group","z":"","name":"Ramp","tab":"f1ba069a.79ae08","disp":true,"width":"6"},{"id":"5cc39637.50c288","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"f1ba069a.79ae08","type":"ui_tab","z":"","name":"Ramp","icon":"dashboard"}]
